h1 {
    text-align: center;
    font-family: sans-serif;
}
.firstbar {
    height: 250px;
    margin: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}
.secondbar {
    height: 250px;
    margin: 20px;
    background-color: rgb(42, 139, 130);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.thirdbar {
    height: 250px;
    margin: 20px;
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
body {
    font-family: sans-serif;
    text-align: center;
}